body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

#game-canvas {
  border: 1px solid black;
  background-color: #fff;
}
